# Vivado Files
neuromorphic_asic_bridge_project
neuromorphic_asic_bridge_system_project
neuromorphic_asic_bridge_system_wrapper.bin
*.jou
*.log
*.wdb
*.pb
xsim.dir
.Xil
*.str
logs
*.debug

# Vitis Files
.metadata
hello_world_test_app*
/vitis/neuromorphic
.analytics
RemoteSystemsTempFiles

# PetaLinux Files
neuromorphic_peta_linux